{% extends 'base.html' %}
{% block content %}
<div class="upload-container">
        <h1 class="upload-header">Create New Blog</h1> 
        {% if messages %}
            {% for message in messages %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" name="title" id="title" class="form-control" placeholder="Title" required>
            </div>
            <div class="mb-3">
                <textarea name="description" id="description" class="form-control" rows="5" placeholder="Description" required></textarea>
            </div>
            <div class="mb-3">              
                <input type="file" name="picture" id="picture" class="form-control" accept="image/*" placeholder="Upload image">
            </div>
            <button type="submit" class="btn btn-primary w-100">Create Blog</button>
        </form>
    </div>

    {% endblock content %}