{% extends 'base.html' %}
{% block content %}
<div class="blog-container">
        <h1 class="blog-header">{{ blog.title }}</h1>
        <div class="blog-description">
            {{ blog.description|linebreaks }}
            {% if blog.picture %}
                <img src="{{ blog.picture.url }}" alt="{{ blog.title }}" class="blog-image">
            {% else %}
                <p>No picture available</p>
            {% endif %}
            <p class="blog-meta">By {{ blog.author.username }} on {{ blog.created_at }}</p>
            {% if request.user.is_authenticated and request.user.id == blog.author.id %}
            <div class="action-buttons">
                <a href="{% url 'edit_blog' blog.pk %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'blog_confirm_delete' blog.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
            {% endif %}
        </div>
        <p class="back-link">
            <a href="{% url 'blog_list' %}" class="btn btn-outline-primary">Back to all blogs</a>
        </p>
    </div>
{% endblock %}