{% extends 'base.html' %}
{% block content %}
<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      body { background-color: #f8f9fa; padding: 20px; }
      .blog-container { max-width: 800px; margin: 0 auto; }
      .blog-header { color: #343a40; margin-bottom: 30px; }
      .home-link { display: block; margin-bottom: 20px; }
      .blog-item { background-color: #ffffff; padding: 15px; margin-bottom: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
      .blog-title { margin: 0; }
      .blog-title a { text-decoration: none; color: #007bff; }
      .blog-title a:hover { text-decoration: underline; }
      .no-blogs { color: #6c757d; text-align: center; }
      .blog-image { max-width: 180px; height: auto; margin-top: 10px; margin-bottom: 20px; margin-right: 0px; }
    </style>
<div class="blog-container">
      <h1 class="blog-header">All Blogs</h1>
      <a href="{% url 'home' %}" class="home-link btn btn-outline-primary">Home</a>

      {% for blog in blogs %}
      <div class="blog-item">
        <h2 class="blog-title">
          <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
        </h2>
        <p>{{ blog.description }}</p>
        {% if blog.picture %}
        <img src="{{ blog.picture.url }}" alt="{{ blog.title }}" class="blog-image" />
        {% else %}
        <p>No picture available</p>
        {% endif %}
        
        <p>By {{ blog.author.username }} on {{ blog.created_at }}</p>
      </div>
      {% empty %}
      <p class="no-blogs">
        Sorry! No blogs available.<br />
        Be the First one to start posting your experience !
      </p>
      {% endfor %}

      <a href="{% url 'blog_create' %}" class="btn btn-primary mt-3">Create a New Blog</a>
    </div>
{% endblock content %}