{% extends 'base.html' %}
{% block content%}
    <div class="container">
        <h1 class="welcome-header">Welcome to Travel Blogs</h1>
        <p>Join us in exploring the world and sharing your experience for the world to see !!</p>
        
        <div class="auth-message">
            {% if request.user.is_authenticated %}
                <h5>You are logged in as: {{ user }}</h5>
                <p></p>
            {% else %}
                <p>You're not logged in.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}